##############################
# Python
##############################

__pycache__/
*.py[cod]
*.pyo
*.pyd

##############################
# Virtual Environments
##############################

.venv/
venv/

##############################
# Environment Variables
##############################

.env
frontend/.env

##############################
# SQLite Databases
##############################

*.sqlite
*.db

##############################
# VS Code
##############################

.vscode/
frontend/.vscode/

##############################
# macOS
##############################

.DS_Store

##############################
# Logs
##############################

*.log

##############################
# Pytest
##############################

.pytest_cache/

##############################
# Node
##############################

frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

##############################
# Coverage
##############################

coverage/